@media (max-width: 820px) {
  footer {
    padding: 10.6vw 0;

    .logo {
      img {
        width: 36.8vw;
      }
    }

    nav {
      margin: 5.3vw 0;
      ul {
        li {
          font-size: 0.8rem;
          &:not(:last-child)::after {
            height: 8px;
            margin: 0 6px;
          }
        }
      }
    }
  }
}
