header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.5s ease; // 부드러운 전환 효과
  transform: translateY(0); // 초기 상태 (보임)
  z-index: 1000; // 헤더가 다른 요소 위에 표시되도록 설정

  &.hidden {
    transform: translateY(-100%); // 헤더를 위로 숨김
  }

  background-color: white;
  color: black;
  padding: 40px 0;

  .logo {
    font-size: 60px; /* 로고 크기 */
    margin: 10px 24px; /* 로고와 네비게이션 간의 간격 */
  }

  nav {
    display: inline-block; /* 중앙 정렬을 위해 inline-block 사용 */
    width: 100%;
    text-align: center;
    ul {
      li {
        display: inline;
        font-size: 18px;
        font-weight: 700;
        // letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-right: 40px;
        a {
          font-size: 1em;
        }
      }
    }
  }

  &.main-header {
    .logo {
      font-size: 90px;
      text-align: center;
    }
  }

  &.sub-header {
    padding: 30px 0;

    &::before {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 1600px;
      height: 1px;
      background: #e4e4e4;
      content: "";
      transform: translateX(-50%);
    }
  }
}
