header {
  background-color: white;
  color: black;
  padding: 20px 0;
  text-align: center; /* 중앙 정렬 */
  .logo {
    font-size: 80px; /* 로고 크기 */
    margin-bottom: 10px; /* 로고와 네비게이션 간의 간격 */
  }

  nav {
    display: inline-block; /* 중앙 정렬을 위해 inline-block 사용 */
    ul {
      li {
        display: inline;
        font-size: 18px;
        font-weight: 700;
        // letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-right: 40px;
        a {
          font-size: 1em;
        }
      }
    }
  }
}

main {
  display: flex;
  margin: 20px;

  .content {
    flex: 1;
    padding: 20px;

    @import "posts";
  }
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 80px 0;
  position: relative;
  bottom: 0;
  width: 100%;

  .logo {
    font-size: 60px; /* 로고 크기 */
    margin-bottom: 10px; /* 로고와 네비게이션 간의 간격 */
  }

  nav {
    display: inline-block; /* 중앙 정렬을 위해 inline-block 사용 */
    margin-bottom: 20px; /* 네비게이션와 카피라이터 간의 간격 */
    ul {
      li {
        display: inline;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: -0.01em;
        text-transform: uppercase;

        &:not(:last-child)::after {
          display: inline-block;
          width: 1px;
          height: 12px;
          margin: 0 12px;
          background: #d9d9d9;
          opacity: 0.4;
          content: "";
        }
      }
    }
  }

  .copyright {
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.43;
    opacity: 0.5;
    text-transform: uppercase;
  }
}
