@media (max-width: 820px) {
  .thum_content {
    bottom: 12vw;

    h2,
    h3 {
      font-size: 2rem;
      line-height: 1.33;
      margin: 0;
    }

    p {
      margin-bottom: 10px;
      font-size: 0.95rem;
      span {
        &:first-child {
          font-size: 0.95rem;
        }
      }
    }
  }

  .posts-default {
    width: 100%;
    ul {
      margin: 4vw -14px;
      li {
        flex: 0 0 calc(50% - 28px);
        margin: 0 14px 4vw 14px;

        .thum {
          padding-top: 100%;
          margin: 0 0 18px 0;
        }
        .content {
          .category {
            font-size: 0.85rem;
            margin: 4px 0 8px 0;
          }

          h3 {
            font-size: 0.95rem;
            margin: 0 0 7px 0;
          }

          .date {
            font-size: 0.7rem;
          }
        }
      }
    }

    &.posts-mini {
      ul {
        li {
          a {
            .thum {
              width: 31%;
              padding-top: 31%;
            }
            .content {
              width: calc(69% - 4.2vw);
              padding-left: 4.2vw;
              h3 {
                margin: 5px 4.2vw 4vw 0;
              }
            }
          }
        }
      }
    }
  }

  .posts {
    .posts-top {
      .thum {
        padding-top: 150%;
      }

      .thum_content {
        h2,
        h3 {
          font-size: 2rem;
        }
      }
    }

    .posts-thum {
      overflow-x: auto;
      padding-bottom: 10px; /* 스크롤 위치를 아래쪽으로 이동시키기 위한 여백 */
      scrollbar-gutter: stable; /* 스크롤바 위치가 레이아웃에 영향 주지 않도록 설정 */

      /* 스크롤바 스타일 */
      &::-webkit-scrollbar {
        height: 8px; /* 스크롤바 높이 */
      }

      &::-webkit-scrollbar-track {
        margin: 0 20px; /* 좌우 20px 여백 적용 */
        background-color: transparent; /* 트랙 배경 투명하게 */
      }

      &::-webkit-scrollbar-thumb {
        background-color: #aaa; /* 스크롤바 색상 */
        border-radius: 4px;
      }

      li {
        flex: 0 0 calc(60% - 30px);

        .thum_content {
          p {
            font-size: 0.8rem;
          }
        }

        h2,
        h3 {
          font-size: 1rem;
        }
      }
    }

    .posts-main {
      width: 100%;

      .thum {
        padding-top: 125%;
      }

      .thum_content {
        left: 6.4vw;
        right: 6.4vw;
        bottom: 8vw;
      }
    }

    .posts-sub {
      width: 100%;
      ul {
        margin: 4vw -14px;
        li {
          flex: 0 0 100%;
          &:nth-child(n + 3) {
            margin-top: 0;
          }

          a {
            display: flex;
            flex-wrap: wrap;
            .thum {
              width: 45%;
              padding-top: 31.5%;
            }
            .content {
              padding-left: 4.2vw;
              width: 55%;
            }
          }
        }
      }

      &.left {
        order: 3;
        margin-top: 20px;
      }
    }
  }
}
