* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vogue", "Vogue-window", "Vogue-ios", "Vogue-android", sans-serif;
}

html,
body {
  height: 100%;
  font-family: sans-serif; // 기본 폰트 설정 (필요에 따라 변경)
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  display: block;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

button,
textarea,
input,
select {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
