@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: white;
  color: black;
  padding: 20px 0;
  text-align: center; /* 중앙 정렬 */
}
header .logo {
  font-size: 80px; /* 로고 크기 */
  margin-bottom: 10px; /* 로고와 네비게이션 간의 간격 */
}
header nav {
  display: inline-block; /* 중앙 정렬을 위해 inline-block 사용 */
}
header nav ul li {
  display: inline;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 40px;
}
header nav ul li a {
  font-size: 1em;
}

main {
  display: flex;
  margin: 20px;
}
main .content {
  flex: 1;
  padding: 20px;
}
main .content .posts {
  display: flex; /* 수평 정렬을 위해 Flexbox 사용 */
  flex-wrap: wrap; /* 너비가 100%를 초과하면 줄바꿈 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: flex-start; /* 위쪽 정렬 */
  margin: 0 auto; /* 수평 가운데 정렬 */
  width: 90%; /* 부모의 너비를 차지 */
}
main .content .posts .posts-main {
  border: 1px solid gray;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  width: 40%;
  text-align: center; /* 텍스트를 가운데 정렬 */
}
main .content .posts .posts-sub {
  border: 1px solid gray;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  width: 60%;
}
main .content .posts .posts-sub ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* 너비가 100%를 초과하면 줄바꿈 */
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: flex-start; /* 위쪽 정렬 */
}
main .content .posts .posts-sub ul li {
  border: 1px solid red;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  flex: 0 0 50%;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 80px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer .logo {
  font-size: 60px; /* 로고 크기 */
  margin-bottom: 10px; /* 로고와 네비게이션 간의 간격 */
}
footer nav {
  display: inline-block; /* 중앙 정렬을 위해 inline-block 사용 */
  margin-bottom: 20px; /* 네비게이션와 카피라이터 간의 간격 */
}
footer nav ul li {
  display: inline;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
footer nav ul li:not(:last-child)::after {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 12px;
  background: #d9d9d9;
  opacity: 0.4;
  content: "";
}
footer .copyright {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.43;
  opacity: 0.5;
  text-transform: uppercase;
}